@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flasherr-area {
  height: 500px;
  width: 500px;
  border: white;
  display: block;
  margin-left: 33%;
}

.flasherr-tile {
  height: 50px;
  width: 50px;
  float: left;
  margin: 2px;
}

.flasherr-tile p {
  text-align: center;
  padding-top: 25px;
}

.flasherr-0 {
  background-color: white;
  color: black;
}

.flasherr-1 {
  background-color: red;
  color: black;
}

.flasherr-2 {
  background-color: green;
  color: black;
}

.flasherr-3 {
  background-color: blue;
  color: black;
}

.flasherr-4 {
  background-color: pink;
  color: black;
}

.flasherr-5 {
  background-color: yellow;
  color: black;
}


.flasherr-6 {
  background-color: cyan;
  color: black;
}

.random-button {
  @apply text-gray-900 h-auto hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800
}